body {
    background-color: rgb(0, 0, 0)
}

main {
    /*TA BORT, bara som hjälpmedel nu*/margin-top: 10px; /*TA BORT, bara som hjälpmedel nu*/
    /*TA BORT, bara som hjälpmedel nu*/margin-bottom: 10px; /*TA BORT, bara som hjälpmedel nu*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;

    /*************HEADER****Menysidan till vänster******/
    header {
        position: relative;
        display: flex;
        flex-direction: column;

        width: auto;

        /*justify-content: space-between; i mobilversionen*/
        background-color: rgb(0, 0, 0);

        border: solid red 2px;

        .side {
            position: fixed;
            grid-column: span 1;
            display: inline;
            height: 100vh;
            width: 5%;
            /*griden är 12. 100% delar på 12 grids = 8.3*/
            margin-left: 0;
            margin-top: 1px;
            margin-right: 1px;
            gap: 0;
            top: 0;
            left: 0;

            h1 {
                color: rgb(220, 220, 220);
                writing-mode: vertical-lr;
                text-orientation: upright;
                margin-top: 70px;
                margin-left: 0;
                text-transform: uppercase;
                font-family: "Jockey One", sans-serif;
                font-size: 25px;

            }
            
            /***************************MENYKNAPP***************************/
            button { 
                width: 35px;
                height: 35px;
                border: 0;
                position: fixed;
                left:20px;
                top:20px;
                z-index: 2;
                pointer-events: none;
            }

            button span{
                display: block;
                width: 25px;
                height: 3px;
                background-color: rgb(194, 205, 41);
                border-radius: 6px;
                margin-bottom: 4px;
            }

            input{
                position: fixed;
                top: 20px;
                left: 20px;
                z-index: 1;
                width: 35px;
                height: 35px;
                opacity: 0;
            }
            
            input:checked + .meny button span{
                position: absolute;
                transition: all 0.3s ease-in-out;
            }


            input:checked + .meny button span:nth-child(2){
                opacity: 0;            
            }

            input:checked + .meny button span:nth-child(1){
                transform: rotate(45deg);
            }

            input:checked + .meny button span:nth-child(3){
                transform: rotate(-45deg);           
            }

            nav{
                position: fixed;
                top:0;
                left: 0;
                background-color: purple;
                width: 100vw;
                height: 100vh;
                opacity: 0;
                transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                visibility: hidden;
            }

            input:checked + .meny nav{
                visibility: visible;
                opacity: 1;
            }

            ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-evenly;
                text-align: center;

                font-size: 3em;
                text-decoration: none;
                text-transform: uppercase;
                font-family: "Jockey One", sans-serif;
                color: antiquewhite;
            }

            /***************************SLUT MENYKNAPP***************************/

            /*    background-color: black;
                span {
                    /*Kod från https://medium.com/@mateus2050/hamburguer-menu-html-and-css-only-c06364fa9bfd* /
                    display: block;
                    /* to ensure that each span element occupies its own line. * /
                    width: 33px;
                    height: 4px;
                    margin-bottom: 5px;
                    /* create some spacing between the span elements. * /
                    position: relative;
                    /* allow for positioning changes in relation to the parent div.* /
                    background: rgb(255, 242, 54);
                    border-radius: 3px;
                }
                */
            
        }

    }
    /***********SLUT HEADER Menysidan till vänster*********/

    .all_pages{
        grid-column: span 11;
        position: relative;
        min-height: 100vh;
        width: auto;

        /****************SIDA 1******************/
        .page1 {
            grid-column: span 11;
            position: relative;
            min-height: 100vh;
            display: block;
            margin-top: 0;
            padding: 10px;
            border-right: 0.5em solid rgb(255, 242, 54);
            border-left: 0.5em solid rgb(255, 242, 54);

            .top, .bottom {
                position: relative;
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                gap: 1em;
                left: 10px;
            }

            .top {
                top: 0;
                .text {
                    grid-column: span 7;
                    position: relative;
                    /*Om tid finns; fundera på att tillgänglighetsanpassa detta och motivera mot kund*/
                    color: rgb(0, 255, 56);
                    padding: 0.5em;
                    margin-top: 0px;
                    top: 0;
                }

                .page-title:nth-child(1){
                    order: 1;
                }
    
                .text:nth-child(2){
                    order: 2;
                }
            
                /************Stycke för textlogon******************/
                .page-title {
                    grid-column: span 4;
                    position: relative;
                    display: block;
                    text-transform: uppercase;
                    font-family: "Roboto Condensed", sans-serif;
                    font-style: normal;
                    margin: 0px;
                    height: 200px;


                    /*display: flex; i mobilversionen kanske påverkar?*/
                    background-color: rgb(0, 0, 0);
                    
                    
            
                    .logo_text_1 {
                        font-size:5em;
                        font-weight: bold;
                        position: absolute;
                        color: rgb(0, 255, 56);
                        right: 35px;
                        top: 20px;
                        z-index: 1;
                    }

                    .logo_text_2 {
                        font-size: 1.9em;
                        font-weight: bold;
                        position: absolute;
                        color: rgb(170, 117, 255);
                        right: 39px;
                        top: 15px;
                    }

                    .logo_text_3 {
                        font-size: 1.9em;
                        font-weight: bold;
                        position: absolute;
                        color: rgb(255, 242, 54);
                        right: 101px;
                        top: 88px;

                    }
                }
                /******************SLUT Stycke för textlogon******************/
            }

            .bottom {
                .picture {
                    grid-column: span 5;
                    position: relative;
                    display:block;
                    
                    /*Ska bildstorleken sättas här eller i html?*/
                   
                   img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    }

                    
                    .arrow { /*pilen i salladen*/
                        position: absolute;
                        transform: rotate(90deg);
                        object-fit: cover;
                        width: 10%;
                        height: 10%;
                        bottom: 10%;
                        left: 5%;
                        
                        img:hover {
                            position: relative;
                            left: 25px;
                            cursor: pointer;
                        }
                    }
                }

                .text {
                    position: relative;
                    grid-column: span 6;
                    color: rgb(170, 117, 255);
                    border-left: 0.5em solid rgb(255, 242, 54);
                    background-color: rgb(255, 220, 220);
                    
                    .explore {
                        position: relative;
                        display: flex;
                        align-items: center;
                        text-transform: uppercase;
                        color: black;

                        padding-left: 0.5em;
                        padding-right: 0.5em;
                        font-family: "Jockey One", sans-serif;
                        font-size: 26px;

                        a {
                            color: black;
                            text-decoration: none;
                        }
        
                        a:hover {
                            font-size:40px;
                        }

                        img{
                            display: inline;
                            align-items: center;
                        }
                    }
                }
            }
        }
        /****************SLUT SIDA 1******************/
        
        /****************SIDA 2******************/
        .page2{
            position: relative;
            grid-column: span 11;
            min-height: 100vh;
            margin-top: 5px;
            background-color: rgb(255, 242, 54);
            border-right: 0.5em solid rgb(255, 242, 54);
            border-left: 0.5em solid rgb(255, 242, 54);
            border-top: 0.5em solid rgb(255, 242, 54);

            .pictures {
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                gap: 0.5em;
                position: relative;
                
                div{
                    height: 300px;
                }
                
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .pic1{
                    grid-column: span 3;
                    display: block;
                    width: 100%;
                }

                .pic2, .pic3{
                    grid-column: span 4;
                    display: block;
                }
            }
            /*************SLUT BILDER**************/

            /*************MATRÄTTER**************/
            .dish_menu {
                position: relative;
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                padding-top: 0.5em;
                font-family: "Roboto Condensed", sans-serif;

                .line_top, .line_bottom{
                    display: grid;
                    grid-column: span 11;
                    height: 0.25em;
                }
                .line_top{
                    border-bottom: solid 1px black;
                }
                .line_bottom{
                    border-top: solid 1px black;
                }
                    
                .dish{
                    grid-column: span 4;
                    background-color: rgb(255, 220, 220);
                    text-transform: uppercase;
                    font-family: "Jockey One", sans-serif;
                    font-weight: bold;
                    padding-left: 0.25em;
                }
                .description{
                    grid-column: span 6;
                    background-color: rgb(255, 220, 220);
                }

                .sales_marker_new{
                    display: inline-block;
                    padding-inline: 5px;  
                    text-transform: uppercase;
                    font-size: 10px;
                    align-items: center;
                    height: 1,1em;
                    background-color: rgb(197, 30, 144);
                    transform: rotate(3deg);
                    padding-left: 5px;
                    padding-right: 5px;
                    width: 4em;
                    span{
                        display: inline-block;
                    }
                }

                .sales_marker_vegan{
                    display: inline-block;
                    padding-inline: 5px;  
                    text-transform: uppercase;
                    font-size: 10px;
                    align-items: center;
                    height: 1,1em;
                    background-color: green;
                    transform: rotate(-3deg);
                    padding-left: 5px;
                    padding-right: 5px;
                    width: 4em;
                    span{
                        transform: rotate(3deg);
                        display: inline-block;
                    }
                }
                    
                    .sales_marker_popular{
                        display: inline-block;
                        padding-inline: 5px;  
                        text-transform: uppercase;
                        font-size: 10px;
                        align-items: center;
                        height: 1,1em;
                        background-color: rgb(172, 225, 25);
                        padding-left: 5px;
                        padding-right: 5px;
                        width: 4em;
                        span{
                            display: inline-block;
                        }
                    }
                
                .cost{
                    grid-column: span 1;
                    background-color: rgb(255, 220, 220);
                    font-family: "Jockey One", sans-serif;
                    font-weight: bold;
                    text-align: right;
                    padding-right: 0.25em;
                }
            } /*************SLUT MATRÄTTER**************/
        } /****************SLUT SIDA 2******************/

        /****************SIDA 3******************/
        .page3{
            position: relative;
            grid-column: span 12;
            min-height: 100vh;
            background-color: rgb(33, 232, 56);
            border-left: 0.5em solid rgb(255, 242, 54);
            border-top: 0.5em solid rgb(255, 242, 54);

            h3{
                margin-top: 5%;
                margin-bottom: 2%;
            }

            .grid{
                position: relative;
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                gap: 0.5em;
                margin-top: 8%;
                padding-left: 1%;
                margin-bottom: 1%;

                .booking:nth-child(1){
                    order:1;
                }
    
                .contakt_information:nth-child(2){
                    order:2;
                }

                .cookie:nth-child(3){
                    order:3;
                }



                .booking {
                    position: relative;
                    grid-column: span 5;
                    gap: 0.5em;
                    text-transform: uppercase;
                    font-family: "Jockey One", sans-serif;

                    .cancel_button{
                        background-color: rgb(225, 41, 146);
                    }

                    .submit_button{
                        background-color: rgb(255, 242, 54);
                    }
                }
                
                .guest_info{
                    grid-column: span 2;
                    position: relative;
                    padding-bottom: 1em;
                }

                .guest_input{
                    grid-column: span 3;
                    position: relative;
                    float: right;
                    margin-right: 50%;
                    width: 6em;
                    input{
                        width: 12em;
                        border-radius: 10px;
                    }
                }

                .contakt_information {
                    position: relative;
                    grid-column: span 6;
                    gap: 0.5em;
                    font-size: xx-large;

                    .arrow{
                        position: absolute;
                        opacity:100%;
                        width: fit-content;
                        height: 50%;
                        bottom: 30%;
                        left: 8%;
                        text-shadow: -2px -2px 1px rgba(0,0,0);

                        background-color: rgba(240, 248, 255, 0.332);

                        a{
                            color: #74C0FC;
                            font-family: "Jockey One", sans-serif;
                        }

                        a:hover {
                            position: relative;
                            left: 25px;
                            cursor: pointer;
                        }

                        img{
                            display: inline;
                            align-items: center;
                        }
                    }
                }
            }
            
            .cookie {
                grid-column: span 12;
                position: relative;
                margin-top: 5%;
                background-color: rgb(225, 41, 146);
                width: 100vw;
                left: 0;
                z-index: 1;
                
                .cookie_text{
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 45%;
                }
        
                .buttons{
                    position: relative;
                    display: flex;
                    align-items: center;
                    color: black;
                    font-family: "Jockey One", sans-serif;
                    text-transform: uppercase;


                    border: #000000 solid 3px;
                    right: 20px;

                    .cancel_button{
                        background-color: rgb(255, 242, 54);
                        
                    }

                    .submit_button{
                        background-color: rgb(33, 232, 56);
                        
                    }
                }                
            }
        }/****************SLUT SIDA 3******************/
        
        .buttons{
            .submit_button, .cancel_button{
                /*omarbetad kod från: 
                https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/button*/
                border: 0;
                line-height: 2.5;
                padding: 0 20px;
                margin: 1%;
                font-size: 1rem;
                width: 10em;
                text-align: center;
                color: #000000;
                border-radius: 10px;
                background-image: linear-gradient(
                  to top left,
                  rgb(0 0 0 / 20%),
                  rgb(0 0 0 / 20%) 30%,
                  rgb(0 0 0 / 0%)
                );
                box-shadow:
                inset 2px 2px 3px rgb(255 255 255 / 60%),
                inset -2px -2px 3px rgb(0 0 0 / 60%);
                
                text-transform: uppercase;
            }
        }
        /****************SIDA 4******************/
        .page4{
            height: 100vh;
            background-color: purple;

            margin: 0;
            padding-top: 5%;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;

            a:link {
                color: rgb(255, 255, 255);
                font-size: 3em;
                text-decoration: none;
                text-transform: uppercase;
                font-family: "Jockey One", sans-serif;
                margin-bottom: 5%;
            }
            a:visited {
                color: rgb(255, 255, 255);
            }
            a:hover {
                font-size:5em;
            }
        }/****************SLUT SIDA 4******************/
    
    }
}


/*

                .cookie_text{
                    grid-column: span 6;
                    position: relative;
                    color: antiquewhite;
                    border: solid black 1px;
                    padding-top: 1em;
                }

                .buttons{
                    grid-column: span 5;
                    position: relative;
                    background-color: #74C0FC;

                    position: relative;

                    color: black;
                    font-family: "Jockey One", sans-serif;
                    text-transform: uppercase;

                    .cancel_button{
                        background-color: rgb(255, 242, 54);
                        float: right;
                        margin-right: 2em;
                    }

                    .submit_button{
                        background-color: rgb(33, 232, 56);
                        float: right;
                    }
                }
                    */