$client-yellow: rgb(255, 242, 54);
$client-green: rgb(0, 255, 56);
$client-yellow-green: rgb(172, 225, 25);
$client-purple: rgb(170, 117, 255);
$client-pink: rgb(255, 220, 220);
$client-light-blue: rgb(116, 192, 252);
$client-white: rgb(250, 235, 215);
$client-black: rgb(0, 0, 0);

@function rem($size) {
    @return calc($size / 16) * 1rem;
 }


body {
    background-color: $client-black;
}

.base {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;

    /*~*:._.:*~*:._.:*~*:._.:*~*:._HEADER & Menysidan till vänster_.:*~*:._.:*~*:._.:*~*:._.:*~*/
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 2;
        
        .side {
            grid-column: span 1;
            position: fixed;
            display: inline;
            height: 100vh;
            width: 6%;
            /*griden är 12. 100% delar på 12 grids = 8.3 - utrymme för gap*/
            gap: 0;
            top: 3px;
            left: 3px;

            h1 {
                writing-mode: vertical-lr;
                text-orientation: upright;
                margin-top: 70px;
                font-size: rem(35);
                margin-left: 25px;
                word-break: break-all;
                overflow: hidden;
                max-width: 40px;
            }

            /*~*:._.:*~*:._.:*~*:._.:*~*:.MENYKNAPP.:*~*:._.:*~*:._.:*~*:._.:*~*/
            button {
                left: 35px;
                top: 20px;
                align-items: baseline;
            }

            button span {
                width: 25px;
                height: 3px;
                border-radius: 6px;
                margin-bottom: 4px;
            }

            

            input {
                position: fixed;
                top: 20px;
                left: 35px;
                z-index: 1;
                width: 35px;
                height: 35px;
                opacity: 0;
            }

            input:hover + .meny button span:nth-child(odd) { 
                transform: translateX(2px);
            }
        }/*~*:._.:*~*:._.:*~*:._.:*~*:._SLUT MENYKNAPP_.:*~*:._.:*~*:._.:*~*:._.:*~*/
    }/*~*:._.:*~*:._.:*~*:._.:*~*:._SLUT HEADER & Menysidan till vänster_.:*~*:._.:*~*:._.:*~*:._.:*~*/

    .all_pages {
        grid-column: span 11;
        position: relative;
        min-height: 100vh;
        width: auto;

        /*~*:._.:*~*:._.:*~*:._.:*~*:._PAGE_1_.:*~*:._.:*~*:._.:*~*:._.:*~*/
        .page_1 {
            grid-column: span 11;
            position: relative;
            min-height: 100vh;
            display: block;
            margin-top: 0;
            padding: 10px;
            border-right: 0.5em solid $client-yellow;
            border-left: 0.5em solid $client-yellow;

            .top,
            .bottom {
                position: relative;
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                gap: 1em;
                left: 10px;
            }

            .top {
                top: 0;
                .text {
                    grid-column: span 7;
                    padding: 0.5em;
                    margin-top: 0px;
                    top: 0;
                }

                /*~*:._.:*~*:._.:*~*:._.:*~*:._STYCKE FÖR TEXTLOGO_.:*~*:._.:*~*:._.:*~*:._.:*~*/
                .page_title {
                    grid-column: span 4;
                    position: relative;
                    display: block;
                    margin: 0px;
                    height: 200px;
                    background-color: $client-black;

                    .logo_text_1 {
                        font-size: rem(80);
                        position: absolute;
                        right: 35px;
                        top: 20px;
                    }

                    .logo_text_2 {
                        font-size: rem(30.4);
                        right: 39px;
                        top: 15px;
                    }

                    .logo_text_3 {
                        font-size: rem(30.4);
                        right: 95px;
                        top: 92px;
                    }
                }

                .page_title:nth-child(1) {
                    order: 1;
                }

                .text:nth-child(2) {
                    order: 2;
                }
            /*~*:._.:*~*:._.:*~*:._.:*~*:._SLUT STYCKE FÖR TEXTLOGO_.:*~*:._.:*~*:._.:*~*:._.:*~*/
            }

            .bottom {
                .picture {
                    grid-column: span 5;
                    position: relative;
                    display: block;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }

                    .arrow {
                        /*pilen i salladen*/
                        position: absolute;
                        transform: rotate(90deg);
                        object-fit: cover;
                        width: 10%;
                        height: 10%;
                        bottom: 10%;
                        left: 5%;

                        img:hover {
                            position: relative;
                            left: 25px;
                            cursor: pointer;
                        }
                    }
                }

                .text {
                    grid-column: span 6;
                    border-left: 0.5em solid $client-yellow;

                    .explore {
                        padding-left: 0.5em;
                        padding-right: 0.5em;
                        font-size: rem(26);

                        a:hover {
                            font-size: rem(35);
                        }
                    }
                }
            }
        }/*~*:._.:*~*:._.:*~*:._.:*~*:._SLUT PAGE_1_.:*~*:._.:*~*:._.:*~*:._.:*~*/

        /*~*:._.:*~*:._.:*~*:._.:*~*:._PAGE_2_.:*~*:._.:*~*:._.:*~*:._.:*~*/
        .page_2 {
            grid-column: span 11;
            margin-top: 5px;
            padding: 0;
            border-right: 0.5em solid $client-yellow;
            border-left: 0.5em solid $client-yellow;
            border-top: 0.5em solid $client-yellow;

            /*~*:._.:*~*:._.:*~*:._.:*~*:._BILDER_.:*~*:._.:*~*:._.:*~*:._.:*~*/
            .pictures {
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                gap: 0.5em;

                div {
                    height: 300px;
                }

                .pic_1 {
                    grid-column: span 3;
                }

                .pic_2,
                .pic_3 {
                    grid-column: span 4;
                    display: block;
                }
            }/*~*:._.:*~*:._.:*~*:._.:*~*:._SLUT BILDER_.:*~*:._.:*~*:._.:*~*:._.:*~*/
            

            /*~*:._.:*~*:._.:*~*:._.:*~*:._MATRÄTTER_.:*~*:._.:*~*:._.:*~*:._.:*~*/
            .dish_menu {
                grid-template-columns: repeat(11, 1fr);
                padding-top: 0.5em;

                .line_top,
                .line_bottom {
                    grid-column: span 11;
                    height: 0.25em;
                }

                .dish {
                    grid-column: span 4;
                    padding-left: 2px;
                }

                .description {
                    grid-column: span 6;
                }

                .cost {
                    grid-column: span 1;
                    padding-right: 2px;
                }
            }/*~*:._.:*~*:._.:*~*:._.:*~*:._SLUT MATRÄTTER_.:*~*:._.:*~*:._.:*~*:._.:*~*/
        }/*~*:._.:*~*:._.:*~*:._.:*~*:._SLUT PAGE_2_.:*~*:._.:*~*:._.:*~*:._.:*~*/

        /*~*:._.:*~*:._.:*~*:._.:*~*:._PAGE_3_.:*~*:._.:*~*:._.:*~*:._.:*~*/
        .page_3 {
            grid-column: span 12;
            border-left: 0.5em solid $client-white;

            h6 {
                margin-top: 5%;
                margin-bottom: 2%;
                font-size: rem(40);
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                gap: 0.5em;
                margin-top: 1%;
                padding-left: 1%;
                margin-bottom: 1%;

                .booking:nth-child(1) {
                    order: 1;
                }

                .contakt_information:nth-child(2) {
                    order: 2;
                }

                .cookie:nth-child(3) {
                    order: 3;
                }

                .booking {
                    grid-column: span 5;
                    gap: 0.5em;
                }

                .guest_info {
                    grid-column: span 2;
                    padding-bottom: 1em;
                }

                .guest_input {
                    grid-column: span 3;
                    margin-right: 50%;
                    width: 6em;

                    input {
                        width: 12em;
                        border-radius: 10px;
                    }
                }

                .contakt_information {
                    grid-column: span 6;
                    gap: 0.5em;
                    font-size: rem(30);

                    .arrow {
                        position: absolute;
                        width: fit-content;

                        a:hover {
                            position: relative;
                            left: rem(25);
                            cursor: pointer;
                        }
                    }
                }
            }

            .cookie {
                grid-column: span 12;
                background-color: $client-purple;
                width: 100vw;
                position: fixed;
                left: 0;
                bottom: 0;
                z-index: 999;

                .cookie_text {    
                    display: flex;
                }

                .buttons {                 
                    display: flex;

                    border: black solid 3px;
                    right: 20px;

                    .cancel_button {
                        background-color: $client-yellow;


                        input {
                            position: fixed;
                            top: 2px;
                            left: 2px;
                            z-index: 1;
                            width: 35px;
                            height: 35px;
                            opacity: 0;
                        }

                        input:checked+.meny nav {
                            visibility: hidden;
                            opacity: 0;
                        }
                    }

                    .submit_button {
                        background-color: $client-green;
                    }
                }
            }
        }/*~*:._.:*~*:._.:*~*:._.:*~*:._SLUT PAGE_3_.:*~*:._.:*~*:._.:*~*:._.:*~*/
    }
}
