body{background-color:rgb(187, 189, 189)
}

main{
    border: 0.2em solid green;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
}

header{
    flex-direction: column;
}

.page1{
    grid-column: span 11;
    min-height: 100vh;
    .top, .bottom{
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 1em;
    }

    .top{
        .page-title{
            grid-column: span 4;
        }
        .text{
            color: green;
            grid-column: span 7;
        }
    }

    .bottom{
        .img{
            grid-column: span 5;
        }
        .text{
            color: purple;
            grid-column: span 6;
        }
    }
}