body{background-color:rgb(187, 189, 189)
}

main{
    border: 0.2em solid green;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
}

header{
    flex-direction: column;
}

.page1{
    grid-column: span 11;
    min-height: 100vh;
    border-right: 0.5em solid yellow;
    border-left: 0.5em solid yellow;

    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;      
    
    .top, .bottom{
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 1em;
        padding: 1em;
    }

    .top{
        .page-title{
            grid-column: span 4;
        }
        .text{
            color: green;
            padding: 0.5em;
            grid-column: span 7;
        }
    }

    .bottom{
        .img{
            grid-column: span 5;
        }
        .text{
            background-color: bisque;
            color: purple;
            border-left: 0.5em solid yellow;
            padding: 0.5em;
            grid-column: span 6;
        }
    }
}