body {
    background-color: grey
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
}

/* Menysidan till vänster*/
header {
    flex-direction: column;
    background-color: aqua;


    h1 {
        color: beige;
        writing-mode: vertical-lr;
        text-orientation: upright;
        margin-top: 45px;
    }
}

.side {
    position: fixed;
    /*griden är 12. 100% delar på 12 grids = 8.3*/
    background-color: rgb(215, 11, 11);
    margin-left: 2%;
    margin-top: 1%;
}

/* SLUT Menysidan till vänster*/

.page1 {
    background-color: aqua;
    grid-column: span 11;
    position: relative;
    min-height: 100vh;
    border-right: 0.5em solid yellow;
    border-left: 0.5em solid yellow;

    .top, .bottom {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 1em;
        /*ta bort border*/
        /*border: solid;*/
    }

    .top {
        position: relative;
        background-color: blue;

        .page-title {
            grid-column: span 4;
        }

        .text {
            /*färgen är inte rätt, ändra när du vet hur
            Jag förstår inte vilken typ av färgkod det är.
            färgkoden ska vara 100%, 0%, 78%, 0%
            Om tid finns; fundera på att tillgänglighetsanpassa detta och motivera mot kund*/
            color: rgb(0, 78, 0);
            color: hsl(100, 78%, 50%);
            padding: 0.5em;
            grid-column: span 7;
            position: relative;
            margin: 1em;
            top: 0px;
            left: 0px;
            background-color: rgb(72, 70, 67);
        }
    }
    .top{
        /*Stycke för textlogon*/
        .page-title {
            text-transform: uppercase;
            font-family: "Roboto Condensed", sans-serif;
            font-style: normal;
            background-color: rgb(144, 135, 222);
            position: relative;
            top: 0px;
            left: 0px;
            margin: 0px;

            /*Ta bort, finns högre upp
            grid-column: span 4;

            .logo_text_1 {
                display: grid;
                grid-column: span 3;
                background-color: rgb(107, 33, 33);
            }

            .logo_text_2 {
                display: grid;
                grid-column: span 1;
                background-color: rgb(27, 114, 17);
            }

            .logo_text_3 {
                display: grid;
                grid-column: span 1;
                background-color: rgb(49, 33, 107);
            }
                */    
    
            .logo_text_1 {
                font-size:5em;
                font-weight: bold;
                position: absolute;
                color: green;
                background-color: rgba(188, 167, 168, 0.126);
                width: auto;    
                height: auto;
                margin-top: 75px;
                margin-left: 80px;
                z-index: 1;
            }

            .logo_text_2 {
                font-size: 1.9em;
                font-weight: bold;
                position: absolute;
                color: purple;
                background-color: rgba(197, 53, 53, 0.986);
                width: auto;    
                height: auto;
                margin-top: 72px;
                margin-left: 202px;
            }

            .logo_text_3 {
                font-size: 1.9em;
                font-weight: bold;
                position: absolute;
                color: yellow;
                background-color: rgb(169, 169, 169);
                margin-top: 145px;
                margin-left: 95px;
            }
        }
    }

    /*SLUT Stycke för textlogon*/

    .bottom {
        position: relative;
        .picture {
            grid-column: span 5;
            position: relative;
                /*onödig eftersom det står samma i html. men ska bildstorleken sättas här eller i html?*/
                width: 552px;
                height: 440px;

            .arrow { /*pilen i salladen*/
                position: absolute;
                transform: rotate(90deg);
                width: 50px;
                height: 50px;
                bottom: 30px;
                left: 20px;
                
                img:hover {
                    position: relative;
                    left: 25px;
                    cursor: pointer;
                }
            }
        }

        .text {
            position: relative;
            background-color: bisque;
            color: purple;
            border-left: 0.5em solid yellow;
            /*färgen är inte rätt, ändra när du vet hur
            Jag förstår inte vilken typ av färgkod det är.
            färgkoden ska vara 0%, 5%, 79%, 0%*/
            border-color: hsl(63, 78%, 50%);
            border-color: rgb(191, 224, 1);
            padding: 0.5em;
            grid-column: span 6;

            .explore {
                position: relative;
                text-transform: uppercase;
                color: black;
                background-color: red;
                width: max-content;
                height: max-content;
            }

            .explore_arrow {
                background-color: green;
                position: absolute;
                width: max-content;
                height: 100%;
                bottom: 0;
                left:5.5em;

                
/*Hur jag än gör här hamnar inte pilen rätt.* /
               /* img { positionering sker i .explore_arrow
                }*/

            }
        }
    }
}


.page2{
    background-color: yellow;
    grid-column: span 11;
    position: relative;
    min-height: 100vh;
    border-right: 0.5em solid yellow;
    border-left: 0.5em solid yellow;

    .pictures {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 1em;
        /*ta bort border*/
        /*border: solid;*/

        position: relative;
        background-color: rgb(0, 238, 255);

        .pic1{
            grid-column: span 3;
            background-color: blueviolet;

        }
        .pic2{
            grid-column: span 4;
            background-color: blue;
        }
        .pic3{
            grid-column: span 4;
            background-color: brown;
        }
    }

    .dish_menu {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 0; /*0.5em om ej .dishes*/
        /*ta bort border*/
        /*border: solid;*/
        position: relative;
        background-color: rgb(0, 238, 255);
/*        border: solid 1px black;*/
        padding-top: 0.5em;

        /* Ta bort om du tar bort i html*/
        .line{
            color: blue;
            display: grid;
            grid-column: span 11;
            height: 0.5em;
            border-bottom: solid 1px black;
            border-top: solid 1px black;
        }
            /***************************/

        .dish{
            grid-column: span 4;
            background-color: rgb(180, 174, 174);
            text-transform: uppercase;
        }
        .description{
            grid-column: span 6;
            background-color: rgb(183, 147, 147);
        }
        .cost{
            grid-column: span 1;
            background-color: rgb(180, 143, 143);
            text-align: right;
        }
    }

}