body{
    background-color: rgb(255, 115, 0);
}

/* Menysidan*/
header{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    z-index: 999;
    h1{
        color: green;
        text-orientation: sideways;
    }
}
/* menyn ligger fixerad högs upp när jag krymper sidan på datorn, men när jag tittar på den i mobilen från Github så är den inte fixerad. Vad beror det på? Vad är fel?*/
.side{
    position: fixed;
    background-color: blueviolet;
    top: 1px;
    left: 1px;
    width: 100%;
}

/* SLUT Menysidan*/

.page1{
    background-color: bisque;
    margin-top: 5em;

    .top{

    }
}



