body {
    background-color: rgb(0, 0, 0);
}

main {
    margin-top: 1px;
    /*TA BORT, bara som hjälpmedel nu*/
    margin-bottom: 1px;
    /*TA BORT, bara som hjälpmedel nu*/
    display: block;
}

/* Menysidan*/
header {
    position: relative;
    display: fixed;
    z-index: 999;

    justify-content: space-between;
    background-color: rgb(0, 255, 55);

    .side {
        position: fixed;
        height: fit-content;
        align-items: center;
        background-color: rgb(0, 0, 0);
        display: flex;
        gap: 10px;
        top: 1px;
        left: 1px;
        width: 100%;


        h1 {
            color: rgb(220, 220, 220);
            text-orientation: sideways;
            text-transform: uppercase;
            margin-left: 40px;
            font-family: "Jockey One", sans-serif;
            font-size: 25px;
        }

        /***************************MENYKNAPP***************************/
        button {
            width: 35px;
            height: 35px;
            background-color: rgb(0, 0, 0);
            border: 0;
            position: fixed;
            left: 2px;
            top: 2px;
            z-index: 2;
            pointer-events: none;
        }

        button span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: rgb(194, 205, 41);
            border-radius: 6px;
            margin-bottom: 4px;
        }

        input {
            position: fixed;
            top: 2px;
            left: 2px;
            z-index: 1;
            width: 35px;
            height: 35px;
            opacity: 0;
        }

        input:checked+.meny button span {
            position: absolute;
            transition: all 0.3s ease-in-out;
        }


        input:checked+.meny button span:nth-child(2) {
            opacity: 0;
        }

        input:checked+.meny button span:nth-child(1) {
            transform: rotate(45deg);
        }

        input:checked+.meny button span:nth-child(3) {
            transform: rotate(-45deg);
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            background-color: purple;
            width: 100vw;
            height: 100vh;
            opacity: 0;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            visibility: hidden;
        }

        input:checked+.meny nav {
            visibility: visible;
            opacity: 1;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-evenly;
            text-align: center;

            font-size: 3em;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Jockey One", sans-serif;
            color: antiquewhite;
        }

        /***************************SLUT MENYKNAPP***************************/

    }
}

/* menyn ligger fixerad högs upp när jag krymper sidan på datorn, men när jag tittar på den i mobilen från Github så är den inte fixerad. Vad beror det på? Vad är fel?*/

/* SLUT Menysidan*/


.all_pages {

    /****************SIDA 1******************/
    .page1 {
        margin-top: 0;

        .top {
            position: relative;
            display: flex;
            flex-direction: column;


            .page-title:nth-child(1) {
                order: 2;
            }

            .text:nth-child(2) {
                order: 1;
            }

            .page-title {
                text-transform: uppercase;
                font-family: "Roboto Condensed", sans-serif;
                font-style: normal;
                position: relative;
                display: flex;
                height: auto;
                top: 0px;
                left: 0px;
                margin: 50px 0 50px 0;

                .logo_text_1 {
                    font-size: 3em;
                    font-weight: bold;
                    color: rgb(0, 255, 56);
                    width: auto;
                    height: auto;
                    position: relative;
                    top: 20px;
                    margin-left: 140px;
                    z-index: 1;
                }

                .logo_text_2 {
                    font-size: 0.9em;
                    font-weight: bold;
                    color: rgb(170, 117, 255);
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 20px;
                    margin-left: 226px;
                }

                .logo_text_3 {
                    font-size: 1em;
                    font-weight: bold;
                    color: rgb(255, 242, 54);
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 65px;
                    margin-left: 148px;
                }
            }

            .text {
                color: rgb(0, 255, 56);
                position: relative;
                top: 50px;
            }
        }

        .bottom {
            position: relative;

            .picture {
                /*Jag väljer att ta bort bilden på salladen i mobilversionen. Jag vill  istället lägga logon mellan de två textblocken.*/
                display: none;
            }

            .text {
                position: relative;
                background-color: rgb(255, 220, 220);
                color: rgb(170, 117, 255);

                .explore {
                    position: relative;
                    text-transform: uppercase;
                    color: black;
                    width: max-content;
                    height: 1em;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    padding-left: 0.5em;
                    padding-right: 0.5em;
                    font-family: "Jockey One", sans-serif;
                    font-size: 26px;

                    a {
                        color: black;
                        text-decoration: none;
                    }

                    img {
                        display: inline;
                        align-items: center;
                        height: 0.8em;
                    }
                }
            }
        }
    }

    /****************SLUT SIDA 1******************/

    /****************SIDA 2******************/
    .page2 {
        grid-column: span 3;
        position: relative;
        min-height: 100vh;
        margin-top: 5px;
        background-color: rgb(255, 242, 54);
        border-right: 0.5em solid rgb(255, 242, 54);
        border-left: 0.5em solid rgb(255, 242, 54);
        margin-bottom: 10px;

        .pictures {
            display: block;
            position: relative;

            div {
                height: 200px;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .pic1 {
                display: block;
                width: 100%;
            }

            .pic2,
            .pic3 {
                display: none;
            }
        }

        /*************MATRÄTTER**************/
        .dish_menu {
            grid-template-columns: 30% 60% 10%;
            display: grid;
            gap: 0;
            /*0.5em om ej .dishes*/
            /*ta bort border*/
            /*border: solid;*/
            position: relative;
            /*border: solid 1px black;*/
            padding-top: 0.5em;

            /* Ta bort om du tar bort i html*/
            .line_top,
            .line_bottom {
                display: grid;
                grid-column: span 3;
                height: 0.25em;
            }

            /***************************/

            .line_top {
                border-bottom: solid 1px black;
            }

            .line_bottom {
                border-top: solid 1px black;
            }

            .dish {
                grid-column: span 1;
                background-color: rgb(255, 220, 220);
                text-transform: uppercase;
                font-family: "Jockey One", sans-serif;
                font-weight: bold;
            }

            .description {
                grid-column: span 1;
                background-color: rgb(255, 220, 220);
            }

            .sales_marker_new {
                display: inline-block;
                padding-inline: 5px;
                text-transform: uppercase;
                font-size: 10px;
                align-items: center;
                height: 1, 1em;
                background-color: rgb(197, 30, 144);
                transform: rotate(3deg);
                padding-left: 5px;
                padding-right: 5px;
                width: 4em;

                span {
                    display: inline-block;
                }
            }

            .sales_marker_vegan {
                display: inline-block;
                padding-inline: 5px;
                text-transform: uppercase;
                font-size: 10px;
                align-items: center;
                height: 1, 1em;
                background-color: green;
                transform: rotate(-3deg);
                padding-left: 5px;
                padding-right: 5px;
                width: 4em;

                span {
                    transform: rotate(3deg);
                    display: inline-block;
                }
            }

            .sales_marker_popular {
                display: inline-block;
                padding-inline: 5px;
                text-transform: uppercase;
                font-size: 10px;
                align-items: center;
                height: 1, 1em;
                background-color: rgb(172, 225, 25);
                padding-left: 5px;
                padding-right: 5px;
                width: 4em;

                span {
                    display: inline-block;
                }
            }

            .cost {
                grid-column: span 1;
                background-color: rgb(255, 220, 220);
                font-family: "Jockey One", sans-serif;
                font-weight: bold;
                text-align: right;
            }
        }/*************SLUT MATRÄTTER**************/
    }/****************SLUT SIDA 2******************/


    /****************SIDA 3******************/
    .page3 {
        position: relative;
        grid-column: span 11;
        min-height: 100vh;
        background-color: rgb(33, 232, 56);
        border-left: 0.5em solid rgb(255, 242, 54);
        border-top: 0.5em solid rgb(255, 242, 54);

        h3 {
            margin-top: 5%;
            margin-bottom: 2%;
        }

        .grid {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-top: 8%;
            padding-left: 1%;
            padding-right: 1%;
            margin-bottom: 1%;

            .booking:nth-child(1) {
                order: 2;
            }

            .contakt_information:nth-child(2) {
                order: 1;
            }

            .cookie:nth-child(3) {
                order: 3;
            }

            .booking {
                position: relative;
                grid-column: span 5;
                gap: 0.5em;
                text-transform: uppercase;
                font-family: "Jockey One", sans-serif;

                .cancel_button {
                    background-color: rgb(225, 41, 146);
                }

                .submit_button {
                    background-color: rgb(255, 242, 54);
                }
            }

            .guest_info {
                grid-column: span 2;
                position: relative;
                padding-bottom: 1em;
            }

            .guest_input {
                grid-column: span 3;
                position: relative;
                float: right;
                margin-right: 50%;
                width: 6em;

                input {
                    width: 12em;
                    border-radius: 10px;
                }
            }

            .contakt_information {
                position: relative;
                grid-column: span 6;
                gap: 0.5em;
                font-size: xx-large;

                .arrow {
                    position: absolute;
                    opacity: 100%;
                    width: fit-content;
                    height: 50%;
                    bottom: 30%;
                    left: 8%;
                    text-shadow: -2px -2px 1px rgba(0, 0, 0);

                    background-color: rgba(240, 248, 255, 0.332);

                    a {
                        color: #74C0FC;
                        font-family: "Jockey One", sans-serif;
                    }

                    img{
                        display: inline;
                        align-items: center;
                    }
                }
            }
        }

        .cookie {
            position: relative;
            grid-column: span 1;
            margin-top: 5%;
            background-color: rgb(225, 41, 146);

            .cookie_text {
                position: relative;
                grid-column: span 1;
                align-items: center;
                gap: 45%;
            }

            .buttons {
                position: relative;
                grid-column: span 1;
                align-items: center;
                color: black;
                font-family: "Jockey One", sans-serif;
                text-transform: uppercase;

                .cancel_button {
                    background-color: rgb(255, 242, 54);
                }

                .submit_button {
                    background-color: rgb(33, 232, 56);
                }
            }
        }
    }
    /****************SLUT SIDA 3******************/
    .buttons {

        .submit_button,
        .cancel_button {
            /*omarbetad kod från: 
                https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/button*/
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            margin: 1%;
            font-size: 1rem;
            width: 10em;
            text-align: center;
            color: #000000;
            border-radius: 10px;
            background-image: linear-gradient(to top left,
                    rgb(0 0 0 / 20%),
                    rgb(0 0 0 / 20%) 30%,
                    rgb(0 0 0 / 0%));
            box-shadow:
                inset 2px 2px 3px rgb(255 255 255 / 60%),
                inset -2px -2px 3px rgb(0 0 0 / 60%);

            text-transform: uppercase;
        }
    }
    /******************SIDA 4********************/
    .page4 {
        height: 100vh;
        background-color: purple;
        
        margin: 0;
        padding-top: 5%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;



        a:link {
            color: rgb(255, 255, 255);
            font-size: 3em;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Jockey One", sans-serif;
            margin-bottom: 5%;
        }

        a:visited {
            color: rgb(255, 255, 255);
        }

    }/****************SLUT SIDA 3******************/
}