body {
    background-color: rgb(30, 66, 212)
}

main {
    /*TA BORT, bara som hjälpmedel nu*/margin-top: 10px; /*TA BORT, bara som hjälpmedel nu*/
    /*TA BORT, bara som hjälpmedel nu*/margin-bottom: 10px; /*TA BORT, bara som hjälpmedel nu*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
    background-color: rgb(0, 0, 0);



    /*************HEADER****Menysidan till vänster******/
    header {
        position: relative;
        display: flex;
        flex-direction: column;


        .side {
            position: fixed;
            display: inline;
            height: fit-content;
            width: 5%;
            /*griden är 12. 100% delar på 12 grids = 8.3*/
            margin-left: 2%;
            margin-top: 1%;

            border: solid white 2px;

            h1 {
                color: rgb(220, 220, 220);
                writing-mode: vertical-lr;
                text-orientation: upright;
                margin-top: 5px;
                text-transform: uppercase;
                font-family: "Jockey One", sans-serif;

                font-size:xx-large;
            }
            
            .burger_menu { 
                background-color: black;
                span {
                    /*Kod från https://medium.com/@mateus2050/hamburguer-menu-html-and-css-only-c06364fa9bfd*/
                    display: block;
                    /* to ensure that each span element occupies its own line. */
                    width: 33px;
                    height: 4px;
                    margin-bottom: 5px;
                    /* create some spacing between the span elements. */
                    position: relative;
                    /* allow for positioning changes in relation to the parent div.*/
                    background: rgb(255, 242, 54);
                    border-radius: 3px;
                }
            }
        }
    }
    /***********SLUT HEADER Menysidan till vänster*********/

    .all_pages{
        grid-column: span 11;
        position: relative;
        min-height: 100vh;

        /****************SIDA 1******************/
        .page1 {
            grid-column: span 11;
            position: relative;
            min-height: 100vh;
            border-right: 0.5em solid rgb(255, 242, 54);
            border-left: 0.5em solid rgb(255, 242, 54);

            .top, .bottom {
                position: relative;
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                gap: 1em;
            }

            .top {
                .text {
                    grid-column: span 7;
                    position: relative;
                    /*Om tid finns; fundera på att tillgänglighetsanpassa detta och motivera mot kund*/
                    color: rgb(0, 255, 56);
                    padding: 0.5em;
                    margin-top: 0px;
                    margin-left: 0px;
                }
            
                /************Stycke för textlogon******************/
                .page-title {
                    grid-column: span 4;
                    position: relative;
                    text-transform: uppercase;
                    font-family: "Roboto Condensed", sans-serif;
                    font-style: normal;
                    margin: 0px;

                    border: solid rgb(255, 255, 255) 2px;       
            
                    .logo_text_1 {
                        font-size:5em;
                        font-weight: bold;
                        position: absolute;
                        color: rgb(0, 255, 56);
                        width: auto;    
                        height: auto;
                        margin-top: 35px;
                        margin-left: 80px;
                        z-index: 1;
                    }

                    .logo_text_2 {
                        font-size: 1.9em;
                        font-weight: bold;
                        position: absolute;
                        color: rgb(170, 117, 255);
                        width: auto;    
                        height: auto;
                        margin-top: 32px;
                        margin-left: 202px;
                    }

                    .logo_text_3 {
                        font-size: 1.9em;
                        font-weight: bold;
                        position: absolute;
                        color: rgb(255, 242, 54);
                        margin-top: 105px;
                        margin-left: 95px;
                    }
                }
                /******************SLUT Stycke för textlogon******************/
            }

            .bottom {
                .picture {
                    grid-column: span 5;
                    position: relative;
                    
                    /*Ska bildstorleken sättas här eller i html?*/
                    width: 100%;
                    height: 100%;

                    .arrow { /*pilen i salladen*/
                        position: absolute;
                        transform: rotate(90deg);
                        width: 50px;
                        height: 50px;
                        bottom: 30px;
                        left: 20px;
                        
                        img:hover {
                            position: relative;
                            left: 25px;
                            cursor: pointer;
                        }
                    }
                }

                .text {
                    position: relative;
                    grid-column: span 6;
                    color: rgb(170, 117, 255);
                    background-color: rgb(255, 220, 220);
                    border-left: 0.5em solid rgb(255, 242, 54);
                    padding: 0.5em;

                    .explore {
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        text-transform: uppercase;
                        color: black;
                    }
                }
            }
        }
        /****************SLUT SIDA 1******************/
        
        /****************SIDA 2******************/
        .page2{
            position: relative;
            grid-column: span 11;
            min-height: 100vh;
            background-color: rgb(255, 242, 54);
            border-right: 0.5em solid rgb(255, 242, 54);
            border-left: 0.5em solid rgb(255, 242, 54);
            border-top: 0.5em solid rgb(255, 242, 54);

            /*************BILDER**************/
            .pictures {
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                gap: 0.5em;
                position: relative;

                .pic1{
                    grid-column: span 3;
                }
                .pic2, .pic3{
                    grid-column: span 4;

                    background-color: blue;
                }
            }
            /*************SLUT BILDER**************/

            /*************MATRÄTTER**************/
            .dish_menu {
                position: relative;
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                padding-top: 0.5em;
                font-family: "Roboto Condensed", sans-serif;

                .line_top, .line_bottom{
                    display: grid;
                    grid-column: span 11;
                    height: 0.25em;
                }
                .line_top{
                    border-bottom: solid 1px black;
                }
                .line_bottom{
                    border-top: solid 1px black;
                }
                    
                .dish{
                    grid-column: span 4;
                    background-color: rgb(255, 220, 220);
                    text-transform: uppercase;
                    font-weight: bold;
                    padding-left: 0.25em;
                }
                .description{
                    grid-column: span 6;
                    background-color: rgb(255, 220, 220);
                }
                .cost{
                    grid-column: span 1;
                    background-color: rgb(255, 220, 220);
                    font-family: "Jockey One", sans-serif;
                    font-weight: bold;
                    text-align: right;
                    padding-right: 0.25em;
                }
            } /*************SLUT MATRÄTTER**************/
        } /****************SLUT SIDA 2******************/

        /****************SIDA 3******************/
        .page3{
            grid-column: span 11;
            position: relative;
            min-height: 100vh;
            background-color: rgb(33, 232, 56);
            border-left: 0.5em solid rgb(255, 242, 54);
            border-top: 0.5em solid rgb(255, 242, 54);

            .test{
                position: relative;
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                gap: 0.5em;
                margin-top: 8%;


                .booking {
                    position: relative;
                    grid-column: span 5;
                    background-color: rgb(43, 43, 42);
                }

                .bookinginformation {
                    position: relative;
                    grid-column: span 6;
                    gap: 0.5em;
                    font-size: xx-large;

                    background-color: rgb(52, 51, 51);

                    .arrow{
                        position: absolute;
                        opacity:100%;
                        width: 50%;
                        height: 50%;
                        bottom: 30%;
                        left: 15%;
                        background-color: aliceblue;
                        
                        a:hover {
                            position: relative;
                            left: 25px;
                            cursor: pointer;
                        }
                    }
                }

                .cookie {
                    position: relative;
                    grid-column: span 11;
                    gap: 0.5em;
                    font-size: xx-large;
                    margin-top: 5%;

                    background-color: rgb(52, 51, 51);

                    button{
                        
                    }
                }
            }
        }
    }
}