body {
    background-color: rgb(0, 0, 0);
}

main {
    margin-top: 1px; /*TA BORT, bara som hjälpmedel nu*/
    margin-bottom: 1px; /*TA BORT, bara som hjälpmedel nu*/
    display: block;
}

/* Menysidan*/
header {
    position: relative;
    display: fixed;
    z-index: 999;

    justify-content: space-between;
    background-color: rgb(0, 255, 55);

    .side {
        position: fixed;
        height: fit-content;
        align-items: center;
        background-color: rgb(0, 0, 0);
        display: flex;
        gap: 10px;
        top: 1px;
        left: 1px;
        width: 100%;

    
        h1 {
            color: green;
            text-orientation: sideways;
            text-transform: uppercase;
        }
        .burger_menu span {
            background-color: rgb(0, 0, 0);
            /*Kod från https://medium.com/@mateus2050/hamburguer-menu-html-and-css-only-c06364fa9bfd*/
            display: block;
            /* to ensure that each span element occupies its own line. */
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            /* create some spacing between the span elements. */
            position: relative;
            /* allow for positioning changes in relation to the parent div.*/
            background: #e5ed08;
            border-radius: 3px;
        }
    }
}

/* menyn ligger fixerad högs upp när jag krymper sidan på datorn, men när jag tittar på den i mobilen från Github så är den inte fixerad. Vad beror det på? Vad är fel?*/

/* SLUT Menysidan*/


.all_pages{

    /****************SIDA 1******************/
    .page1 {
        margin-top: 5em;

        .top {
            position: relative;
            display: flex;
            flex-direction: column;
        
            .page-title:nth-child(1){
                order: 2;
            }

            .text:nth-child(2){
                order: 1;
            }

            /*Stycke för textlogon. Flyttas ner under första texten i mobile. När jag vet hur man gör.*/
            .page-title {
                text-transform: uppercase;
                font-family: "Roboto Condensed", sans-serif;
                font-style: normal;
                position: relative;
                display: flex;
                height: auto;
                top: 0px;
                left: 0px;
                margin: 0px;

                .logo_text_1 {
                    font-size:3em;
                    font-weight: bold;
                    color: rgb(0, 255, 56);
                    width: auto;    
                    height: auto;
                    position: relative;
                    margin-top: 20px;
                    margin-left: 140px;
                    z-index: 1;
                }

                .logo_text_2 {
                    font-size:0.9em;
                    font-weight: bold;
                    color: rgb(170, 117, 255);
                    width: auto;    
                    height: auto;
                    position: absolute;
                    margin-top: 20px;
                    margin-left: 226px;
                }
                .logo_text_3 {
                    font-size:1em;
                    font-weight: bold;
                    color: rgb(255, 242, 54);
                    width: auto;    
                    height: auto;
                    position: absolute;
                    margin-top: 65px;
                    margin-left: 148px;
                }
            }

            .text {
                color: rgb(0, 255, 56);
                position: relative;
            }
        }

        .bottom {
            position: relative;

            .picture {
                /*Jag väljer att ta bort bilden på salladen i mobilversionen. Jag vill  istället lägga logon mellan de två textblocken.*/
                display: none;
            }

            .text {
                position: relative;
                background-color: rgb(255, 220, 220);
                color: rgb(170, 117, 255);

                .explore {
                    position: relative;
                    text-transform: uppercase;
                    color: black;
                    width: max-content;
                    min-height: 1em;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }
    }
        /****************SLUT SIDA 1******************/
        
        /****************SIDA 2******************/

    .page2{
        grid-column: span 3;
        position: relative;
        min-height: 100vh;
        margin-top: 5px;
        background-color:  rgb(255, 242, 54);
        border-right: 0.5em solid  rgb(255, 242, 54);
        border-left: 0.5em solid  rgb(255, 242, 54);
        margin-bottom: 10px;

        .pictures {
            position: relative;

            .pic1{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

            .pic2, .pic3{
                display: none;
            }
        }

        .dish_menu {
            grid-template-columns: 30% 60% 10%;
            display: grid;
            gap: 0; /*0.5em om ej .dishes*/
            /*ta bort border*/
            /*border: solid;*/
            position: relative;
            /*border: solid 1px black;*/
            padding-top: 0.5em;

            /* Ta bort om du tar bort i html*/
            .line_top, .line_bottom{
                display: grid;
                grid-column: span 3;
                height: 0.25em;
            }
                /***************************/

            .line_top{
                border-bottom: solid 1px black;
            }
            .line_bottom{                    
                border-top: solid 1px black;
            }
            
            .dish{
                grid-column: span 1;
                background-color: rgb(255, 220, 220);
                text-transform: uppercase;
                font-family: "Jockey One", sans-serif;
                font-weight: bold;
            }
            .description{
                grid-column: span 1;
                background-color: rgb(255, 220, 220);
            }
            .cost{
                grid-column: span 1;
                background-color: rgb(255, 220, 220);
                font-family: "Jockey One", sans-serif;
                font-weight: bold;
                text-align: right;
            }
        }
    }/****************SLUT SIDA 2******************/


    
}



