@import 'normalize.scss';

@import 'mobile.css';

@media screen and (min-width:1200px) {
    @import 'desktop';    
}

body{background-color:#ff0
}

h1{color: beige;
        text-transform: uppercase;
        writing-mode: vertical-lr;
        text-orientation: upright;
}