body {
    background-color: rgb(0, 0, 0);
    }
    
    /* Menysidan överst*/
    header {
        .side {
            border: solid rgb(11, 11, 10) 1px; 
        }
    }
    
    /* SLUT Menysidan överst*/
    
    .page1 {

    
        font-family: "Jockey One", sans-serif;
        font-weight: 400;
        font-style: normal;
    
        .text {
            font-size: 1.5em;
        }
    
    
    }
